/! ko with: instance
/td data-bind="text: protected"
td data-bind="text: name"
//! ko with: details
/td data-bind="text: tags.Name"
/td data-bind="text: state"
/td data-bind="text: ip_address"
/td data-bind="text: platform"
/td data-bind="text: public_dns_name"
/td data-bind="text: URStatus"
//! /ko
/! /ko