/{#<div class="container">#}
/{#    <div class="row">#}
.col-md-3
  users
.col-md-9
  .row
    clouds
  .row
    groups
/{#    </div>#}
/    {#<methods></methods>#}
/    {#<performance params="params: window.testSuite"></performance>#}
/{#</div>#}
/
/{#need to implement#}
/{#  groups#}
/{#  roles#}
/{#  commands to send to instances#}
/{#  enable/disable features based on role privileges#}
/{#  installer view#}
/{#  network settings#}
/{#  change errors/alerts#}
/{#  styling#}
/{#  background refreshing#}
/{#  login timout#}
/{#  array of soap proxies for session cookie#}
/
