/cloudCredentials params="cloudcredentials: cloudCredentials"
/networking params="networking: networking"
/keyManager params="keymanager: keyManager"
syslog params="syslog: syslog"
/ha
/snmp
/unattendedReboot
/eventPurge
/physicalServer
/exportSettings
/shutDown
/
