.user
    p data-bind="text: name()"
    /! ko foreach: sortedRoles
    p data-bind="text: $data"
    /! ko foreach: $parent.sortedGroups
    button.btn.btn-xs type="button" data-bind="css: $parents[1].scoped($parent, name).buttoncss, click: function(data, event){$parents[1].flipScope($parent, name)}"
      span data-bind="text: name"
      span.glyphicon data-bind="css: $parents[1].scoped($parent, name).glyphcss"
    /! /ko
    /! /ko
