<div class="user">
    <p data-bind="text: name()"></p>
{#    <!-- ko foreach: allGroups -->#}
{#    <p data-bind="text: name"></p>#}
{#    <!-- /ko -->#}
    <!-- ko foreach: scopeView -->
    <p data-bind="text: 'has the role: ' + role + ' for these groups:'"></p>
        <!-- ko foreach: $parent.unassignedGroups -->
        <button data-bind="click: $parents[1].addToScope.bind($data, $parent), text: 'add ' + $data"></button>
        <!-- /ko -->
        <!-- ko foreach: groups -->
        <p data-bind="text: $data"></p>
        <button data-bind="click: $parents[1].removeFromScope.bind($data, $parent.role)">x</button>
        <!-- /ko -->
    <!-- /ko -->
</div>


{#        <form data-bind="submit: $parents[1].updateScope">#}
{#            <select name="group" data-bind="options: $parents[1].allGroups, optionsText: 'group'"></select>#}
{#            <button type="submit">Add</button>#}
{#        </form>#}
