.row
  .col-md-12
    /! ko foreach: cloudsIndex
    .row
      .col-md-3
        h1 data-bind="text: $data"
        regions params="cloud: $data, regionsIndex: $parent.regionsIndex"
      .col-md-9
        instances params="cloud: $data, regions: $parent.regionsIndex"
    /! /ko